<div class="navigationBar">
    <div class="navigationBar-left">
        <div class="title">SCHOOL PORTAL</div>
    </div>
    <div class="navigationBar-right">
        <button ng-show="loggedIn" ng-click="location.path('/user/create')" class="btn">Create User</button>
        <button ng-show="loggedIn" ng-click="location.path('/subject')" class="btn">Subject</button>
        <button ng-hide="loggedIn" ng-click="location.path('/login')" class="btn">Login</button>
        <button ng-show="loggedIn" ng-click="location.path('/user/list')" class="btn">Users</button>


        <button ng-show="loggedIn" ng-click="logout()" class="btn">Logout</button>
    </div>
</div>