.navigationBar {
    width: 100%;
    display: block;
    text-align: right;
    border-bottom: 4px solid whitesmoke;
    background-color: #373737;
    margin: 0px;
}
.menu {
    list-style: none;
    padding: 20px 20px 20px 0;
    margin: 0px;
}

.menu > li {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}
.menu > li a {
    text-decoration: none;
    color: whitesmoke;
}

.menu > li:before {
    content: "|";
    padding: 0px 10px;

}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
