/* app css stylesheet */

@import 'brand';

body {
  font-family: Arial, sans-serif;
  background-color: @mainBackground;
}

.btn {
  color: @mainYellow;
  border: 1px solid @mainYellow;
  background-color: @navbarBackground;
  border-radius: @radius;
  padding: 6px 14px;

  &:active,
  &:hover,
  &:focus {
    color: @navbarBackground;
    text-decoration: none;
    background-color: @mainYellow;
    outline: none;
    border: 1px solid transparent !important;
  }
}

.btn-right {
  float: right;
  margin: 5px 0px 0px 0px;
}

button:focus, textarea:focus, input:focus {
  outline: none;
}

input {
  border: 2px solid transparent;
  background-color:lightgray;
}

input:focus {
  border: 2px solid @mainYellow;
  background-color: white;
  box-shadow: none;
  outline: none !important;
  background: white;
}

.help-block{
  color: @warning;
}
/* DATATABLES start */
.dataTables_length, .dataTables_filter {
  label {
    color: @mainYellow;
    font-weight: normal;
    input {
      color: @textDark;
      border-radius:@radius;
    }
  }
  select {
    border-radius:@radius;
  }
}
.row-border{


  .paginate_button{border-radius: @radius;}
  .paginate_button.current{
    border-radius:@radius;
  }
}
.hover {
  .paginate_button {
    border-radius: @radius;
  }
  .paginate_button.current {
    border-radius: @radius;
  }
}
table.dataTables {

  .paginate_button{border-radius: @radius;}
  .paginate_button.current{
    border-radius:@radius;
  }



  tr.odd {
    background-color: white;
    color: black;
  }
  tr.even {
    background-color:white;
    color:black;
  }
  th {
    background: @mainBackground;
    color: @mainYellow;
    text-decoration: none;
  }
  td, th {
    padding: 10px;
  }
  tr:first-child th:first-child {
    border-top-left-radius: @radius;
  }
  /* top-right border-radius */
  tr:first-child th:last-child {
    border-top-right-radius: @radius;
  }
  /* bottom-left border-radius */
  tr:last-child td:first-child {
    border-bottom-left-radius: @radius;
  }
  /* bottom-right border-radius */
  tr:last-child td:last-child {
    border-bottom-right-radius: @radius;
  }
}
.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button.current:hover {
 border-radius:@radius;}
/* DATATABLES end */