/* app css stylesheet */

@import 'brand';

body {
  font-family: Arial, sans-serif;
  background-color: @mainBackground;
}

.btn {
  color: @mainYellow;
  border: 1px solid @mainYellow;
  background-color: @navbarBackground;
  border-radius: @radius;
  padding: 6px 14px;

  &:active,
  &:hover,
  &:focus {
    color: @navbarBackground;
    text-decoration: none;
    background-color: @mainYellow;
    outline: none;
    border: 1px solid transparent !important;
  }
}

.btn-right {
  float: right;
  margin: 5px 0px 0px 0px;
}

button:focus, textarea:focus, input:focus {
  outline: none;
}

input {
  border: 2px solid transparent;
  background-color:lightgray;
}

input:focus {
  border: 2px solid @mainYellow;
  background-color: white;
  box-shadow: none;
  outline: none !important;
  background: white;
}

.help-block{
  color: @warning;
}
/* DATATABLES start */
.dataTables_length, .dataTables_filter {
  select {
    color: @textDark;
    border: 2px solid transparent;
    outline: none;
    box-shadow: none;

    &:focus {
      border: 2px solid @mainYellow !important;
    }
  }

  label {
    color: @mainYellow;
    font-weight: normal;
    input {
      color: @textDark;
      border-radius:@radius;
    }
  }
  select {
    border-radius:@radius;
  }
}
.row-border{


  .paginate_button{border-radius: @radius;}
  .paginate_button.current{
    border-radius:@radius;
  }
}
.hover {
  .paginate_button {
    border-radius: @radius;
  }
  .paginate_button.current {
    border-radius: @radius;
  }
}
table.dataTables {

  .paginate_button{border-radius: @radius;}
  .paginate_button.current{
    border-radius:@radius;
  }



  tr.odd {
    background-color: white;
    color: black;
  }
  tr.even {
    background-color:white;
    color:black;
  }
  th {
    background: @mainBackground;
    color: @mainYellow;
    text-decoration: none;
  }
  td, th {
    padding: 10px;
  }
  tr:first-child th:first-child {
    border-top-left-radius: @radius;
  }
  /* top-right border-radius */
  tr:first-child th:last-child {
    border-top-right-radius: @radius;
  }
  /* bottom-left border-radius */
  tr:last-child td:first-child {
    border-bottom-left-radius: @radius;
  }
  /* bottom-right border-radius */
  tr:last-child td:last-child {
    border-bottom-right-radius: @radius;
  }
}
 .paginate_button.current,  .paginate_button.current:hover {
 border-radius:@radius!important;
  background-color:black!important;

}
 .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
   color: white !important;
   box-shadow: none;
   border-radius: @radius !important;

 }
.dataTables_wrapper .dataTables_paginate .paginate_button  {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: white !important;
  border: 1px solid transparent;
  border-radius: @radius;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
  color:white!important;
}
/* DATATABLES end */
.warning{
  margin: 14px 0px 0px 0px;
  background-color:@warning;
  border-radius:@radius;
  padding:10px;
  color: white;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: @mainYellow;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65px;
  background-color: @navbarBackground;
  color: @mainYellow;
  padding: 10px;
  display: block;
  vertical-align: middle;
}