
<div class="wrapper">


    <div class="first">

        <form name="login_form " class="loginForm" novalidate role="form"
          validate-before-submit="login(credentials.user, credentials.password)">
        <div class="form-group inner-addonn right-addonn "  ng-class="{'redWarning': unauthorized}" >
            <i class="glyphicon glyphicon-remove-circle" ng-show="unauthorized"></i>
            <i class="glyphicon glyphicon-chevron-left chevron" ng-show="unauthorized" ></i>
            <input type="text" class="textBox input-lg redWarning" name="user" id="user" ng-model="credentials.user" placeholder="Username">
            <div class="form-group inner-addonn right-addonn ">
            <i class="glyphicon glyphicon-remove-circle" ng-show="unauthorized"></i>
            <input type="password" class="textBox input-lg redWarning"name="password" id="password" ng-model="credentials.password"  placeholder="Password">
            <button type="submit" class="btn btn-right btn-lg">Login</button>
            </div>
        </div >
    </form>

    </div>
   <div class="secondWrapper">
    <div class="second loginWarning " ng-show="unauthorized">
       <span  >User name or password is incorrect</span>

   </div>
   </div>

</div>

