@import '../brand';

.loginForm {
    margin: 100px auto;
    width: 300px;
    padding: 60px;
    border: 1px solid @mainYellow;
    border-radius: @radius;
    background-color: @navbarBackground;

    .textBox {
        margin: 5px 0px;
        padding: 8px;
        width: 100%;
        border-radius: @radius;
        background-color: lightgray;
        color: #000000 !important;
        box-shadow: none;
    }

    .textBox::-webkit-input-placeholder {
        color: @placeholder;
    }
}


