@import '../brand';

.crete_user_form {
  margin: 20px auto;
  width: 800px;
  padding: 30px 60px 80px 60px ;
  border: 1px solid @mainYellow;
  border-radius: @radius;
  background-color: @navbarBackground;

}