@import '../brand';

.UserList {
  margin: 30px auto;
  width: 900px;
  padding: 20px 60px 40px 60px ;
  border: 1px solid @mainYellow;
  border-radius: @radius;
  background-color: @navbarBackground;
  margin-bottom: 90px;

}
.div {
  text-align:center;
  margin: 20px 0px 30px 0px;
}

.titleSpan {
  color:@mainYellow;
  font-size: 180%;
  font-style:italic;
}

.btn-div{
  margin:0px 0px 0px 690px;
}

.headers {
  color: black;
}

.messageDivText{
  color:transparent;
  margin:10px 0px 0px 60px;
  text-align: left;
  font-size: 120%;
}

.messageDivTextShow{
  color: @mainYellow;
}
